
body { background-color: #dee2e8; }
.nobootstrap { min-width: unset; padding: unset;}
.bootstrap .page-head>.wrapper { display: none; }
.bootstrap .page-head {height: 10px;}

.frank {
    height: auto;
}

.frank .container-header {
    margin-top: -105px;
    width: 100%;
    height: 100px;
    padding: 20px;
    display: grid;
    grid-template-columns: 2fr 0.5fr 4fr 0.3fr 0.3fr;
    background-color: white;
}

.frank .container-header > div {align-self: center}
.frank .container-header > div > a {text-decoration: none; color: #e07047; }
.frank .container-header .frank-logo { font-size: 20px; font-weight: bold; }

.frank .frank-shipping{ font-weight: bold; }
.frank .frank-returns{ font-weight: bold; }
.frank .frank-chart{ justify-self: center; }
.frank .frank-settings{ justify-self: center; }

.ctr {
    margin-top: 40px;
    height: auto;
    width: 70%;
    border-radius: 12px;
    background-color: white;
    padding: 30px !important;
}


.ctr input { border-radius: 12px 12px 12px 12px!important; background-color: white!important; border: 1px solid #d0d0d0!important; }
p { color: #e07047; font-weight: bold; }

.ctr label { font-size: 14px!important; }
.ctr a { text-decoration: none!important; }
.create-new-shipment-btn {
    width: 200px; height: 40px; border-radius: 25px!important; border: 2px solid #e07047!important; background-color: white; color: #e07047; font-weight: bold;
}

.input-container {
    display: -ms-flexbox; /* IE10 */
    display: flex;
    margin-bottom: 15px;
}

.icon {
    padding: 10px;
    background: #efefef;
    min-width: 30px;
    text-align: center;
    border-radius: 0 9px 9px 0;
}

.input-field {
    /*border-radius: 9px 0 0 9px!important;*/
    padding: 10px;
    outline: none;
}


/*map mosal -------------------------------------------------------------------------------------------------------------------------------------*/

/* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
#map {
    height: 100%;
}
/* Optional: Makes the sample page fill the window. */
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}
#description {
    font-family: Roboto;
    font-size: 15px;
    font-weight: 300;
}

#infowindow-content .title {
    font-weight: bold;
}

#infowindow-content {
    display: none;
}

#map #infowindow-content {
    display: inline;
}

.pac-card {
    margin: 10px 10px 0 0;
    border-radius: 2px 0 0 2px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    outline: none;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
    background-color: #fff;
    font-family: Roboto;
}

#pac-container {
    padding-bottom: 12px;
    margin-right: 12px;
}

.pac-controls {
    display: inline-block;
    padding: 5px 11px;
}

.pac-controls label {
    font-family: Roboto;
    font-size: 13px;
    font-weight: 300;
}

#pac-input {
    background-color: #fff;
    font-family: Roboto;
    font-size: 15px;
    font-weight: 300;
    margin-left: 12px;
    padding: 0 11px 0 13px;
    text-overflow: ellipsis;
    width: 350px;
}

#pac-input:focus {
    border-color: #4d90fe;
}

#title {
    color: #fff;
    background-color: #4d90fe;
    font-size: 25px;
    font-weight: 500;
    padding: 6px 12px;
}
.pac-container{
    z-index: 9999;
}
.modal-body{
    height: 400px;
}